* {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
h1 {
	color: coral;
}

h2,
h3 {
	color: #292929;
}
body {
	width: 700px;
	margin: 0 auto;
}
ul {
	margin-left: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
li {
	margin-bottom: 0.5rem;
	list-style: none;
}
span {
	font-weight: bold;
	color: #292929;
}
